<footer id="footer">
    <button id="login" (click)="showlogin()">admin</button>


    <div class="alignment-center">
        <div class="login-form" id="login-form">
            <h2>Login</h2>
            <input type="text" class="logininput">
            <input type="text" class="logininput">
            <div class="row">
                <button class="submit">Login</button>
                <button id="close" (click)="hidelogin()">Close</button>
            </div>
            
        </div>
    </div>

</footer>
<div id="overlay"></div>
